
electron20-flags.conf -> ./electron-flags.conf
ranger/
ranger/scope.sh*
ranger/__pycache__/
ranger/__pycache__/devicons.cpython-310.pyc
ranger/rifle.conf-ori
ranger/commands_full.py
ranger/rc.conf-ori

ranger/plugins/
ranger/plugins/__pycache__/
ranger/plugins/__pycache__/__init__.cpython-310.pyc
ranger/plugins/__pycache__/devicons_linemode.cpython-310.pyc
ranger/plugins/__init__.py
ranger/plugins/devicons_linemode.py
ranger/devicons.py
ranger/commands.py
code-flags.conf -> ./electron-flags.conf
manjaro/
manjaro/manjaro-settings-manager.conf
nwg-wrapper/
nwg-wrapper/timezones.css
nwg-wrapper/bindings.pango
nwg-wrapper/timezones.sh*
nwg-wrapper/date-wttr.css
nwg-wrapper/bindings.css
nwg-wrapper/style.css
nwg-wrapper/help.sh*
nwg-wrapper/date-wttr.sh*
gtk-3.0/
gtk-3.0/bookmarks
DjVuLibre/
DjVuLibre/DjView.conf
QtProject.conf

Kvantum/
Kvantum/kvantum.kvconfig
Kvantum/KvAdaptaDark#/
Kvantum/KvAdaptaDark#/KvAdaptaDark#.kvconfig
user-dirs.dirs
nrvim/

electron-flags.conf
BraveSoftware/
locale.conf
Code/
Code/settings.json
chrome-beta-flags.conf -> ./chrome-flags.conf
kanshi/
kanshi/config.example
dconf/
dconf/user
qt5ct/
qt5ct/qt5ct.conf
autostart/
autostart/check-aur.desktop
sworkstyle/
sworkstyle/config.toml.example
mps-youtube/
mps-youtube/config.json
mps-youtube/cache_py_3.10.
mps-youtube/input_history
mps-youtube/transcode
mps-youtube/play_history.m3u
microsoft-edge-stable-flags.conf -> ./chrome-flags.conf
microsoft-edge-dev-flags.conf -> ./chrome-flags.conf
zeit.db
brave-flags.conf -> ./chrome-flags.conf
microsoft-edge-beta-flags.conf -> ./chrome-flags.conf
libfm/
libfm/libfm.conf
pulse/
pulse/cookie
electron12-flags.conf -> ./electron-flags.conf
chromium-flags.conf -> ./chrome-flags.conf
Code - OSS/
Code - OSS/User/
Code - OSS/User/settings.json
fontconfig/

fontconfig/conf.d/

fontconfig/fonts.conf.back
chrome-dev-flags.conf -> ./chrome-flags.conf
gh/
gh/config.yml
gh/hosts.yml
pamac/
pamac/config
pcmanfm/
pcmanfm/default/
pcmanfm/default/pcmanfm.conf
waybar/
waybar/config.jsonc.example
waybar/backup/
waybar/backup/style.css
waybar/backup/config.jsonc-doublebar
waybar/backup/config.jsonc

waybar/style.css.example

chrome-flags.conf
mimeapps.list
nvim/

nvim/init.lua-ori
nvim/LICENSE
nvim/lua/
nvim/lua/custom/
nvim/lua/custom/chadrc.lua_
nvim/lua/custom/chadrc.lua
nvim/lua/plugins/
nvim/lua/plugins/configs/
nvim/lua/plugins/configs/alpha.lua
nvim/lua/plugins/configs/whichkey.lua
nvim/lua/plugins/configs/telescope.lua
nvim/lua/plugins/configs/nvimtree.lua
nvim/lua/plugins/configs/mason.lua
nvim/lua/plugins/configs/lspconfig.lua
nvim/lua/plugins/configs/treesitter.lua
nvim/lua/plugins/configs/cmp.lua
nvim/lua/plugins/configs/others.lua
nvim/lua/plugins/configs/nvterm.lua
nvim/lua/plugins/init.lua
nvim/lua/core/
nvim/lua/core/options.lua
nvim/lua/core/utils.lua
nvim/lua/core/init.lua
nvim/lua/core/mappings.lua
nvim/lua/core/lazy_load.lua
nvim/lua/core/default_config.lua
nvim/plugin/
nvim/plugin/packer_compiled.lua
discord/
foot/
foot/foot.ini.example

sway/
sway/themes/

sway/themes/matcha-green/
sway/themes/matcha-green/definitions
sway/config_
sway/backup/
sway/backup/config.orig
sway/backup/definitions.conf
sway/backup/01-keyboard.conf
sway/backup/config
sway/definitions.d/
sway/definitions.d/README.md
sway/definitions.d/definitions.confi
sway/config.d/
sway/config.d/README.md
sway/config.d/XX-keyboard.conf.example

sway/help.man

REAPER/
keepassxc/
keepassxc/keepassxc.ini
flashfocus/
flashfocus/flashfocus.yml
rofi/
rofi/config.rasi
electron18-flags.conf -> ./electron-flags.conf
khal/
khal/config
mono/
mono/keypairs/[1][98f3a7e3-0d6e-f432-8a18-e1144b53633f][-1].xml
mono/keypairs/98f3a7e3-0d6e-f432-8a18-e1144b53633f.xml
bbrave-flags.conf
chrome-beta-flags.conf
chrome-dev-flags.conf
chromium-flags.conf
code-flags.conf
electron12-flags.conf
electron18-flags.conf
electron20-flags.conf
microsoft-edge-beta-flags.conf
microsoft-edge-dev-flags.conf
microsoft-edge-stable-flags.conf
zsh/.zcompdump
zsh/.zcompdump-juanro-2349-5.9
zsh/.zshrc
ibus/
ibus/bus
ibus/bus/91902e2a960a4a1cb69e6e11578602f2-unix-wayland-1
