
/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* import css definitions for current theme */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: @wm_icon_bg;
    }

    to {
        color: @wm_icon_bg;
        background-color: @warning_color;
    }
}

@keyframes blink-critical {
    70% {
      color: @wm_icon_bg;
    }

    to {
        color: @wm_icon_bg;
        background-color: @error_color;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    /* font-family: "LiterationMono Nerd Font", "Literation Mono", sans-serif; */
    font-family: "RobotoMono Nerd Font", "Roboto Mono", monospace;
    }

button, label {
  all:unset;
}

/* The whole bar */
window#waybar {
  /* background: @theme_bg_color; */
  /* background: rgba(0,0,0,0); */
  /* color: rgba(255,255,255,1); */
  color: @wm_icon_bg;
  font-size: 14px;
  /* border: 1px solid red; */
}



/* Each module */
#custom-pacman,
#custom-menu,
#custom-help,
#custom-scratchpad,
#custom-github,
#custom-clipboard,
#custom-zeit,
#custom-dnd,
#bluetooth,
#cpu,
#memory,
#mode,
#pulseaudio,
#temperature,
#idle_inhibitor,
#backlight,
#language,
#custom-sunset,
#custom-playerctl,
#custom-yewtube,
#clock,
#network,
#custom-weather {
  padding-left: 7px;
  padding-right: 7px;
  /* border: 1px solid red; */
}

#network,
#bluetooth,
#pulseaudio,
#idle_inhibitor {
  /* margin-top: 1px; */
  padding-bottom: 1px;
  /* border: 1px solid red; */
}

#workspaces {
  padding-left: 7px;
  /* padding-right: 2px; */
  /* border: 1px solid red; */
}

#workspaces button {
  /* border-top: 2px solid transparent; */
  /* To compensate for the top border and still have vertical centering */
  /* padding-bottom: 3px; */
  padding-left: 7px;
  padding-right: 7px;
  /* border: 1px solid green; */
}

label#window {
  padding-left: 7px;
  /* padding-right: 7px; */
  /* padding-bottom: 1px; */
  /* border: 1px solid red; */
}

#tray {
  padding-right: 4px;
  padding-bottom: 2px;
  /* border: 1px solid green; */
}

#temperature {
  padding-left: 5px;
  padding-right: 5px;
}

#battery {
  padding-left: 8px;
  padding-right: 15px;
}

#network {
  /* padding-left: 7px; */
  padding-right: 13px;
}

#bluetooth {
  padding-left: 7px;
  padding-right: 8px;
}

#pulseaudio {
  padding-left: 8px;
  padding-right: 8px;
}

#idle_inhibitor {
  padding-left: 7px;
  padding-right: 8px;
}

#clock {
  /* padding-left: 7px; */
  padding-right: 11px;
}




/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

label#window {
/* background: rgba(0,0,0,0); */
  color: @wm_icon_bg;
  font-size: 13px;
}

#custom-scratchpad, #custom-menu {
    color: @theme_bg_color;
    background-color: @theme_selected_bg_color;
}

#custom-zeit.tracking {
    background-color: @warning_color;
}

#battery {
    color: @wm_icon_bg; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding-bottom: 2px;
}

#battery.discharging {
    color: @warning_color;
    /*color: rgba(255,0,0,1);*/
}

#battery.warning {
    color: @warning_color;
}

#battery.critical {
    color: @error_color;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
  font-size: 14px;
  font-weight: normal;
  /* color: @wm_icon_bg; */
  /* background-color: @theme_selected_bg_color; */
  /* background-color: rgba(0,0,0,0); */
  font-family: "RobotoMono Nerd Font", "Roboto Mono", sans-serif;
}

#cpu.warning {
    color: @warning_color;
}

#cpu.critical {
    color: @error_color;
}


#idle_inhibitor.deactivated {
  color: @wm_icon_bg; 
  padding-bottom: 2px;
}

#idle_inhibitor.activated {
  color: @warning_color;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @warning_color;
}

#memory.critical {
    color: @error_color;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: @background_color;
}

#network.disconnected {
    color: @warning_color;
}

#pulseaudio {
    color: @wm_icon_bg;
}

#pulseaudio.muted {
    color: @warning_color;
}

#pulseaudio.source {
    color: @wm_icon_bg;
}

#pulseaudio.source-muted {
    color: @warning_color;
} 

#temperature.critical {
    color: @error_color;
}

#tray {
    color: @wm_icon_bg;
}

#workspaces button {
    /* border-top: 2px solid transparent; */
    /* To compensate for the top border and still have vertical centering */
    /* padding-bottom: 3px; */
    /* color: @theme_selected_bg_color; */
    color: @wm_icon_bg;
}

/* #workspaces button.focused {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
    
    border-color: rgba(0,0,0,0);  
    font-weight: 800;
    color: @theme_selected_bg_color;
    } */

#workspaces button.focused {
    /* border-bottom: 2px solid rgba(0,0,0,1);
    border-color: rgba(0,0,0,0); */  
    font-weight: bold;
    /* color: #e06c75; */
    color: rgba(223,245,242,1);
    background-color: rgba(0,0,0,0);
}

#workspaces button.urgent {
    border-color: @error_color;
    color: @error_color;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#custom-pacman {
    color: @warning_color;
}

#bluetooth.disabled {
    color: @warning_color;
}

#custom-wf-recorder {
    color: @error_color;
    padding-right: 10px;
}

